html  {
    scroll-behavior: smooth;
}

*  {
    box-sizing: border-box;
}
body  {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    margin: 0;
}

ul  {
    margin-top: 0;
}

.header  {
    display: block;
    position: fixed;
    max-width: 1440px;
    width: 100%;
    top: 0;
}

.summary-text  {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.nav-list  {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    background-color: #9AF0CA;
    list-style-type: none;
}

.nav-link  {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #347be4;
    font-weight: 600;
    font-size: 1.1em;
}

.container  {
    padding-top: 50px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #E3EAEC;
}

.section-profile-img  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    max-height: 550px;
    width: 100%;
    height: 100%;
}

.section  {
    display: block;

}

.section-title  {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-top: 0;
}

.section-item  {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
    font-weight: bolder;
    color: rgb(23, 192, 243);
    font-size: 35px;
}

p  {
    text-align: center;
}


@media (max-width:500px) {
    .section-title {
        font-size: 1em;
    }    
}


#hamburger, [for=hamburger]  {
    display: none;
}

@media screen and (max-width: 700px) {
    [for=hamburger]  {
        display: block;
        position: fixed;
        width: 30px;
        text-align: center;
        right: 0;
        color: rgb(243, 2, 2);
        font-size: 20px;
        user-select: none;
    }
    [for=hamburger]::before{
        content: '☰';
    }
    
    .nav  {
        display: none;
    }

    .nav-list {
        flex-direction: column;
        right: 0;
        width: 100px;
    }

    .container  {
        padding-top: 0;
    }

    .nav-link  {
        padding: 0 10px;
        line-height: 10px;
        text-decoration: none;
        color: #347be4;
        font-weight: 600;
        font-size: 0.5em;
    }

    #hamburger:checked + label + nav  {
        display: block;
    }
    #hamburger:checked +[for=hamburger]::before{
        content: 'X';
    }
}